@charset "utf-8";
/* CSS Document */


/* ==========================================================================
   Body
   ========================================================================== */

*, *:before, *:after {
  box-sizing: border-box;
  -moz-user-select: text;  
  -webkit-user-select: text;  
  -ms-user-select: text;
  -moz-touch-callout: none;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

ul {
  -webkit-padding-start: 0px;
  padding:0;
  margin-top: 0;
}

ol {
  padding: 0;
  margin: 0;
  list-style-position:inside;
}

body {
  font-family: "Avenir", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 62.5%;
  background-color: #eeedeb;
}

/* ==========================================================================
   General Typography
   ========================================================================== */

*, *:before, *:after {
  letter-spacing: .5px;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-size: 1.1em;
}

* > a, * > span {
  font-size: 1em;
}

p, figcaption, time, blockquote {
  display: block;
  font-size: 1.1em;
  line-height: 1.9;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

#backstretch{
  display:none;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  z-index: 1;
  cursor: pointer;
  padding: 25px;
}

header div.text {
  max-width: 50%;
  position: fixed;
  bottom: 120px;
  left: 25px;
}

header h1 {
  letter-spacing: 1px;
  margin-bottom: 2px;

}

header > p {
  margin-top: 100px;
  max-width: 500px;
}

/* ==========================================================================
   Screen Saver
   ========================================================================== */

#saver {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  z-index: 10;
  cursor: pointer;
  padding: 25px;
}

#saver h1 {
  position: absolute;
  bottom: 0px;
  font-size: 3em;
}

/* ==========================================================================
   General Links
   ========================================================================== */

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  border-bottom: none;
  font-weight: bold;
}

a:active {
  border-bottom: none;
}

/* ==========================================================================
   Nav
   ========================================================================== */

nav {
  margin-top: 8px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
}

nav ul {  
  display: flex;
}

nav ul li {
  font-size: 1.1em;
  margin-right: 1em;
  margin-top: 1em;
  list-style: none;
}

nav ul li:last-child {
  margin-right: 0em;
}

nav ul li a:link, nav ul li a:visited {
  color: #AAA;
}

nav ul li a.selected:link, nav ul li a.selected:visited {
  font-style: normal;
}

nav ul li a:hover, nav ul li a:active {
  font-style: italic;
}

li.underline span {
  position: relative;
  top: -10px;
  border-bottom: 8px solid rgba(209, 230, 223, 0.9);
}

li.underline a {
  position: relative;
  top: 10px;
}

/* ==========================================================================
   Main
   ========================================================================== */

main {
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

main p {
  max-width: 600px;
}

/* ==========================================================================
   Table
   ========================================================================== */

div.container {
  max-width: 500px;
}

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 5em;
}

table caption {
  text-align: left;
  padding-bottom: 2em;
}

table th, table td {
  font-size: 1.1em;
  padding-bottom: 5px;
}

table th {
  font-weight: normal;
  padding-bottom: 5px;
}

table th.year {
  width: 25%;
}

table .type {
  text-align: right;
}

table thead tr {
  text-align: left;
}