{layout="layout/index" title="童孝賢的攝影本（摄影本） - 關於 - 攝影師 - 廣州（广州） &amp; 深圳 &amp; 三亞（三亚） &amp; 海口"}

<img id="anystretch" src="{site_url}assets/images/uploads/blog.jpg"/>

<main class="about">

	<p>童孝賢，攝影師，主要從事肖像攝影和藝術攝影的創作，于2016年创办大屈，目前接受來自全國主要城市的攝影工作及邀約。</p>

	<p>工作地點：廣州 &amp; 深圳 &amp; 海南	，旅行全国</p>

	<p>微信：<a href="{path="about/wechat"}">tongxiaoxian1839</a></p>

	<!-- <p>往返：旅行全國<br>微信：tongxiaoxian1839</p> -->

	<!-- <p>鏈接：<a href="http://www.da-qu.com">大屈</a>、<a href="http://www.in-pu.com">印鋪</a>、<a href="http://www.littlenightblindness.com">小夜盲家</a></p> -->

	<!-- <p>鏈接：<a href="http://www.da-qu.com">大屈攝影</a>、<a href="http://www.in-pu.com">照片書咖啡館</a></p> -->
	<!-- <p>鏈接：<a href="http://www.da-qu.com">大屈攝影</a>、<a href="http://www.leavebehindtheworld.com">飛到世界的另外一邊</a></p> -->


	<p>Client list：Vogue、GQ、Esquire China、Microsoft、無印良品、中糧集團、海航集團、融創中國、南方航空、中國平安保險</p>

</main>


