{layout="layout/index" title="童孝賢的攝影本（摄影本） - 關於 - 攝影師（摄影师） - 廣州（广州） &amp; 深圳 &amp; 三亞（三亚） &amp; 海口 - 攝影（摄影）工作室"}

<img id="anystretch" src="{site_url}assets/images/uploads/about.jpg"/>

<main class="about">

	<p>童孝賢，攝影師（摄影师），主要從事肖像攝影和藝術攝影的創作，目前接受來自全國主要城市的攝影（摄影）工作及邀約。</p>

	<p>工作地點：廣州（广州） &amp; 深圳 &amp; 三亞（三亚） &amp; 海口，旅行全国</p>

	<p>微信：<a href="{path="about/wechat"}">tongxiaoxian1839</a></p>

	<!-- <p>鏈接：<a href="http://www.da-qu.com">大屈</a>、<a href="http://www.in-pu.com">印鋪</a>、<a href="http://www.littlenightblindness.com">小夜盲家</a></p> -->

	<!-- <p>鏈接：<a href="http://www.da-qu.com">大屈攝影</a>、<a href="http://www.in-pu.com">照片書咖啡館</a></p> -->

	<p>Client list：Vogue、GQ、Esquire China、Microsoft、無印良品、麗思·卡爾頓、中糧集團、海航集團、融創中國、南方航空、中國平安保險</p>


	<p>博客：<a href="{path="blog/index"}">Blog</a></p>

	<!-- <p>連接：<a href="#">李哲</a>、<a href="http://www.sometin.net">屈童舟</a>、<a href="http://nightblindness.da-qu.com">章婉静</a>、<a href="http://everglow.da-qu.com">江楷鋒</a></p> -->
	

</main>


