{layout="layout/index" title="飞到世界的另外一边 - 关于"}

<img id="anystretch" src="{site_url}assets/images/uploads/travel.jpg"/> 

<main class="about">

	<p class="slogan">飞到世界的另外一边是童孝贤的个人博客。</p>

	<p>童孝贤，摄影师，早年留美，现主要从事肖像摄影和艺术摄影的创作，目前接受来自全国主要城市的摄影工作及邀约。</p>

	<p>往返：广州 &amp; 深圳 &amp; 海南三地，按需旅行全国<br>微信：tongxiaoxian1839</p>

	<!-- <p>往返：旅行全国<br>微信：tongxiaoxian1839</p> -->

	<!-- <p>链接：<a href="http://www.da-qu.com">大屈</a>、<a href="http://www.in-pu.com">印铺</a>、<a href="http://www.littlenightblindness.com">小夜盲家</a></p> -->

	<p>电邮：<a href="mailto:tong@tongxiaoxian.com">tong@tongxiaoxian.com</a></p>


	<!-- <p>链接：<a href="http://www.tongxiaoxian.com">童孝贤的摄影本</a></p> -->

</main>

