{layout="layout/index" title="童孝贤 - 摄影师 - 摄影作品 - 广州 &amp; 深圳 &amp; 三亚 &amp; 海口 - 摄影工作室"}

<main class="commercial">

  <article>

    <div>
      <time>2015</time>
      <p>彩色负片 / 35mm / 数字扫描件</p>
      <h1>《兔子》</h1>
      <p>个人作品</p>
    </div>
    
    <div>
      <img src="{site_url}assets/images/uploads/photography/rabbit.jpg" alt="">
      <!-- <img src="{site_url}assets/images/uploads/photography/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-2w.jpg" alt=""> -->
    </div>  

  </article>

  <article>
    
  </article>




</main>
