{layout="layout/index" title="童孝贤 - 摄影师 - 摄影作品"}

<main class="commercial">

  <article>

    <div class="project">
      <time>2017</time>
      <p>彩色负片 / 35mm / 数字扫描件</p>
      <h1>美一</h1>
      <p>客户委托</p>
    </div>
    
    <div class="gallery">
      <img src="{site_url}assets/images/uploads/commercial/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-1w.jpg" alt="">
      <img src="{site_url}assets/images/uploads/commercial/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-2w.jpg" alt="">
    </div>  

  </article>

  <article>
    
  </article>




</main>
