{layout="layout/index" title="屈家印铺｜完成作品｜印务工作室｜广州&amp;深圳&amp;三亚&amp;海口"}

<header style="display: none;">

  <p>印铺从创立之初就不想做一个简单的打印输出工作室。我们喜欢与对影像有自己独立见解的你合作，我们认为你的作品也是我们的作品。从印制明信片到画册设计，每个人都能获得最充分的输出建议。一如动人的生命特质平静、优雅、绵长，坚持质感细腻的纸张；丰盈生香的油墨；沉静不苟的匠心将你的独家记忆妥帖安放。高品质的影像输出服务，就这样一方所在，等你岁岁长相见。</p>

  <div class="text">
    <h1>屈家印铺</h1>
    <p>营业时间：周一到周日 / 1:00pm–10:30pm<br>
      微信公众号：daquimage<br>
      电邮：hello@da-qu.com<br>
    </p>
  </div>

</header>

<main class="work">

  <div class="project">
    <p>2016</p>
    <h1>六月</h1>
    <p>6" x 8" / 44 Pages / 印数10册</p>
    <p>家庭影集</p>
  </div>
  
  <div class="gallery">
    <img src="{site_url}assets/images/uploads/work/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-1w.jpg" alt="">
    <img src="{site_url}assets/images/uploads/work/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-2w.jpg" alt="">
    <img src="{site_url}assets/images/uploads/work/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-Process-2w.jpg" alt="">
    <img src="{site_url}assets/images/uploads/work/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-3w.jpg" alt="">
    <img src="{site_url}assets/images/uploads/work/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-4w.jpg" alt="">
    <img src="{site_url}assets/images/uploads/work/Faculty-Truvelle-Wedding-Gown-Lookbook-2016-Design-5w.jpg" alt="">

  </div>  

</main>
