<div class="price">

<h1>住宿与款待</h1>

<div>

	<div>
		<h2>A. 住宿</h2>
		<ol>
			<li>万科森林公园 - 亚龙湾公主郡。</li>
			<li>山景房 - 园林房。</li>
			<li>酒店式管理。</li>
			<li>含双早。</li>
			<li>度假村餐厅食堂。</li>
			<li>包括高尔夫球场和室外游泳池。</li>
			<li>生活设施齐全，可自己做饭洗衣。</li>
			<li>距离凤凰国际机场有30分钟 - 40分钟的车程。</li>
			<!-- <li>* 免费提供给摄影客人。</li> -->
		</ol>
	</div>

	<div>
		<h2>B. 款待</h2>
		<ol>
			<li>烧烤服务。</li>
			<li>蛋糕 - 鲜花服务。</li>
			<li>接车服务。</li>
			<li>快件代寄送服务。</li>
			<li>物品代保管。</li>				
			<li>团购特惠: 78元起。通过微信获取最惠价格。</li>
		</ol>
	</div>

</div>

</div>