{layout="layout/site"}

<main class="locations">

{exp:channel:entries channel="locations_section" limit="1" disable="member_data"}

{layout:set name="title"}漫旅  -  取景地  -  {exp:playa:parents}{title}{/exp:playa:parents}  -  {title}{/layout:set}

        <img id="anystretch" src="{locations_section_background}"/>

        <article>
                 
                <h1>{title}</h1>
                
                {locations_section_body}
                
                <p> 
                
                    <!-- <h2>旅游信息</h2> -->
                    <ul>
                        {locations_section_info}
                            <li>{{locations_section_info_type}}：{locations_section_info_detail}</li>
                        {/locations_section_info}
                    </ul>
                </p>

                
        </article>



{/exp:channel:entries} 

</main>