<div class="price">

<h1>写真及家庭照</h1>

<div>

	<div>
		<h2>A. 写真</h2>
		<ol>
			<li>拍摄照片不少于100张。</li>
			<li>精修照片10张。</li>
			<!-- <li>1组服装</li> -->
			<!-- <li>1组妆发造型。</li> -->
			<li>建议开始时间 3:00PM。</li>
			<li>外景交通：均包含在内，取景租金：均包含在内。</li>
			<!-- <li>收藏级相片花盒1份。*</li> -->
			<!-- <li>原片全送。</li> -->
			<li>拍摄地点: 大取景地选一。</li>
			<li>团购特惠: 78元起；通过微信获取最惠价格。</li>
			<!-- <li>* 30天递交实体产品。</li> -->
		</ol>
	</div>

	<div>
		<h2>B. 家庭照</h2>
		<ol>
			<li>拍摄照片不少于100张。</li>
			<li>精修照片10张。</li>
			<!-- <li>1组服装</li> -->
			<!-- <li>1组妆发造型。</li> -->
			<li>建议开始时间 3:00PM。</li>
			<li>外景交通：均包含在内，取景租金：均包含在内。</li>
			<!-- <li>收藏级相片花盒1份。*</li> -->
			<!-- <li>原片全送。</li> -->
			<li>拍摄地点: 大取景地选一。</li>
			<li>团购特惠: 78元起；通过微信获取最惠价格。</li>
			<!-- <li>* 30天递交实体产品。</li> -->
		</ol>
	</div>

</div>

</div>