<div class="price">

<h1>导游及旅拍</h1>

<div>

	<div>
		<h2>A. 导游*</h2>
		<ol>
			<li>达人路线。</li>
			<li>旅行顾问微定制。</li>
			<li>专属路书。</li>
			<li>专属司兼导。</li>
			<li>研究并了解旅行目的地。</li>
			<li>在资源落地和服务上保障路线设计和用户的旅行感受品质如一。</li>
			<li>建议开始时间 8:00AM。</li>
			<li>外景交通：均包含在内，取景租金：均包含在内。</li>
			<li>* 免费提供给旅拍类摄影客人。</li>
		</ol>

	</div>

	<div>
		<h2>B. 旅拍</h2>
		<ol>
			<li>拍摄照片不少于张1200。</li>
			<li>精修照片36张。</li>
			<li>建议开始时间 8:00AM。</li>
			<li>外景交通：均包含在内，取景租金：均包含在内。</li>
			<li>收藏级旅行写真书1份。*</li>
			<li>原片全送。</li>
			<li>工作地点: 随客愿。</li>
			<li>通过微信获取最惠价格。</li>
			<li>* 30天递交实体产品。</li>
		</ol>
	</div>

</div>

</div>