{layout="site_cn/layout" title="童孝贤的摄影本"}
	
<main class="works_main">

	{exp:channel:entries channel="works_main_cn" sort="asc" status="open|preparing" disable="categories|member_data"}
    
	  	<section>
		    
		    <h1{if status == "Preparing"} class="preparing"{/if} id="{url_title}"><a href="{title_permalink='site_cn/works_chapter'}">{title}</a></h1>

		    	<ol>
		     		{works_main_relationship_cn}
		        		<li>{works_main_relationship_cn:title}</li>
		     		{/works_main_relationship_cn}
		    	</ol>
		
		</section>

	{/exp:channel:entries} 

</main>