{layout="home/layout" title="童孝贤的摄影本"}

<main class="works_chapter">

{exp:channel:entries channel="works_main" sort="asc" limit="1" disable="categories|member_data"}

{layout:set name="title"}童孝贤的摄影本｜{title}{/layout:set}

	<article>
   
    <h1><a href="{path="home/index"}">{title}</a></h1>

	{if works_main_description}

		{works_main_description}

	{/if}

	{works_main_relationship}
		
		<h2>{works_main_relationship:title}</h2>

			{works_main_relationship:works_chapter_description}

			<div class="gallery">

			{works_main_relationship:works_chapter_grid}

				{if works_main_relationship:works_chapter_grid:works_chapter_grid_display == "Yes"}

					{if works_main_relationship:works_chapter_grid:works_chapter_grid_descript}

						{works_main_relationship:works_chapter_grid:works_chapter_grid_descript}

					{/if}
					
					{works_main_relationship:works_chapter_grid:works_chapter_grid_image}
				
						<img src="{url}" alt="{works_main_relationship:works_chapter_grid:works_chapter_grid_title}" width="{exp:mx_calc expression="{width}/2"}" height="400">

					{/works_main_relationship:works_chapter_grid:works_chapter_grid_image}	

				{/if}

			{/works_main_relationship:works_chapter_grid}

			</div>

	{/works_main_relationship}

</article>

{/exp:channel:entries} 

</main>