{layout="layout/site"}

<img id="anystretch" src="{site_url}assets/images/uploads/travel.jpg"/> 

<main class="accomodations">

{exp:channel:entries channel="accomodations_main" disable="categories|member_data"}

{layout:set name="title"}{site_name}  -  住宿及款待{/layout:set}
        
        <h1>{title}</h1>

            <ol>
                {accomodations_relationship}
                    <li>
                        <h2>{accomodations_relationship:title}</h2>
                        <p class="delimiter">-</p>
                        <p>{accomodations_relationship:accomodations_abstract}</p>
                    </li>
                {/accomodations_relationship}

            </ol>

{/exp:channel:entries} 

</main>