{layout="layout/index" title="童孝贤 - 摄影师 - 关于 - 广州 &amp; 深圳 &amp; 三亚 &amp; 海口 - 摄影工作室"}

<main>

	<p>童孝贤，摄影师，从事时尚及艺术摄影。早年留学于美国，于2017年创办<a href="http://www.da-qu.com">大屈影像</a>和<a href="http://www.ncoffeeshop.com">NCoffeeShop</a>，目前接受来自全国主要城市的摄影工作及邀约。</p>

	<p>现居：三亚&amp;海口（2017年4月-2017年6月）<br>微信：tongxiaoxian1839</p>
	
	<p>点击查看：<a href="#">微信公众号</a>、<a href="https://www.flickr.com/photos/tongxiaoxian/">Yahoo Flickr</a></p>

	<!-- <p>点击查看博客：<a href="{path="blog/index"}">飞到世界的另外一边</a></p> -->

</main>
