{layout="layout/index" title="童孝贤 - 工作"}
 
<main class="schedule">
	
	<div>
	 	<p>工作排期</p>
		<ul>
			<li>08月07日 – 08月13日：<i>已订出</i></li>
			<li>08月14日 – 08月20日：<i>已订出</i></li>	
			<li>08月21日 – 08月27日：<a href="{path="schedule/booking"}">点击此处约片</a></li>
			<li>08月28日 – 09月03日：<a href="{path="schedule/booking"}">点击此处约片</a></li>
		</ul>		
	</div>
	
	<div>
		<p>工作电话</p>	
		<p><a href="sms:+86 189-0766-4285">+86 189-0766-4285</a></p>
	</div>

	<div>
		<p>团队</p>	
		<ul>
			<li>化妆造型：陈敏</li>
			<li>美术：张涵</li>
			<li>灯光：李求学</li>
			<li>文字：温言</li>
			<li>日常助理：李瑶</li>
		</ul>
	</div>

	<div>
		<p>往返</p>	
		<ul>
			<li>旅行全国</li>
		</ul>
	</div>	
	
</main>