{layout="layout/index" title="童孝贤 - 工作 - 摄影师 - 广州 &amp; 深圳 &amp; 三亚 &amp; 海口"}
 
<main class="schedule">
	
	<div>
	 	<p>工作排期</p>
		<ul>
			<li>09月04日 – 09月10日：<i>已订出</i></li>
			<li>09月11日 – 09月17日：<i>已订出</i></li>	
			<li>09月18日 – 09月24日：<a href="{path="schedule/booking"}">点击此处约片</a></li>
			<li>09月25日 – 10月01日：<a href="{path="schedule/booking"}">点击此处约片</a></li>
		</ul>		
	</div>
	
	<div>
		<p>工作电话</p>	
		<p><a href="sms:+86 189-0766-4285">+86 189-0766-4285</a></p>
	</div>

	<div>
		<p>团队</p>	
		<ul>
			<li>化妆造型：陈敏</li>
			<li>美术：张涵</li>
			<li>灯光：李求学</li>
			<li>文字：温言</li>
			<li>日常助理：李瑶</li>
		</ul>
	</div>

	<div>
		<p>往返</p>	
		<ul>
			<li>广州 &amp; 深圳 &amp; 三亚 &amp; 海口</li>
		</ul>
	</div>	
	
</main>