{layout="layout/site"}

<main class="locations">

{exp:channel:entries channel="locations_chapter" limit="1" disable="member_data"}

{layout:set name="title"}漫旅  -  取景地  -  {parents}{parents:title}{/parents}  -  {title}{/layout:set}

        <img id="anystretch" src="{locations_chapter_background}"/>

        <article>
                 
                <h1>{parents}{parents:title}{/parents}：{title}</h1>
                
                {locations_chapter_body}

        </article>
    
{/exp:channel:entries} 

</main>