{layout="layout/index" title="童孝賢的攝影本（摄影本） - 工作室及印務所 - 攝影師（摄影师） - 廣州（广州） &amp; 深圳 &amp; 三亞（三亚） &amp; 海口 - 攝影（摄影）工作室"}

<img id="anystretch" src="{site_url}assets/images/uploads/blog.jpg"/> 

<main class="blog content">

    {exp:channel:entries channel="blog" disable="member_data" url_title="{segment_3}"}
	
      <div>      
          <!-- <h1>{title}</h1> -->
          {blog_body}
      </div>
    
    {/exp:channel:entries}

	<p class="s m"><a href="{path="blog/index#{segment_3}"}">返回</a></p>

</main>