{layout="layout/index"}

<img id="anystretch" src="{site_url}assets/images/uploads/travel.jpg"/> 

<main class="locations">

{exp:channel:entries channel="text" limit="1" disable="member_data"}

{layout:set name="title"}{site_name}  -  记录  -  {title}{/layout:set}

        <img id="anystretch" src="{locations_chapter_background}"/>

        <article>
                 
                <h1>{title}</h1>
                
                {text_body}

                <!-- －<br> -->
                <!-- <time datetime="{entry_date format="%Y"}-{entry_date format="%m"}-{entry_date format="%d"}">{entry_date format="%Y年%g月%d日"}</time> -->

        </article>


        {paginate}
            <p>
                {if previous_page}
                    <a class="prev" href="{auto_path}">上一页</a> &nbsp;
                {/if}
                {if next_page}
                    <a class="next" href="{auto_path}">下一页</a>
                {/if}
            </p>
        {/paginate}

{/exp:channel:entries} 

</main>

