{layout="layout/index" title="童孝贤 - 存档 - 摄影师 - 广州 &amp; 深圳 &amp; 三亚 &amp; 海口"}

<main class="archive">

<div class="container">

    <p class="instruction">点击名称查看</p>

    <table>

        <caption>LATEST</caption>

        <thead>
            <tr>
                <th class="year" scope="col">时间</th>
                <th class="name" scope="col">名称</th>
                <th class="type" scope="col">类别</th>
            </tr>
        </thead>

        <tbody>  
            
            <tr>
                <td>2017</td>
                <td><a href="#">Little Nightblindness</a></td>
                <td class="type">工作记录</td>
            </tr>

            <tr>
                <td>2016</td>
                <td>工作室周边环境摄影</td>
                <td class="type">风景</td>
            </tr>
            
            <tr>
                <td>2015</td>
                <td>陶媛</td>
                <td class="type">写真</td>
            </tr>           

            <tr>
                <td>2014</td>
                <td>玥生的世界</td>
                <td class="type">大画幅摄影</td>
            </tr>

            <tr>
                <td>2012</td>
                <td>不可信的真实</td>
                <td class="type">广告摄影</td>
            </tr>       

            <tr>
                <td>2012</td>
                <td>拼贴</td>
                <td class="type">后期制作</td>
            </tr>    

            <tr>
                <td>2009-2011</td>
                <td>人们</td>
                <td class="type">纪实</td>
            </tr>    

        </tbody>

    </table>
    
    <p class="instruction">存档</p>

    <table>

        <caption>ARCHIVE</caption>

        <thead>
            <tr>
                <th class="year" scope="col">时间</th>
                <th class="name" scope="col">名称</th>
                <th class="type" scope="col">类别</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>2009-2011</td>
                <td class="underline"><span>《悦活》杂志</span></td>
                <td class="type">出版物</td>
            </tr>

            <tr>
                <td>2008-2009</td>
                <td class="underline"><span>《三联生活周刊》</span></td>
                <td class="type">出版物</td>
            </tr>

        </tbody>

    </table>

</div>

</main>
