<div class="price">

<h1>婚拍</h1>

<div>

	<div>
		<h2>A. 单日（一对一定制，含妆容造型）</h2>
		<ol>
			<li>拍摄照片不少于300张。</li>
			<li>精修照片30张。</li>
			<li>2套服装</li>
			<li>2组妆发造型；新娘鲜花由<a href="http://www.manlvs.com">花事</a>提供。</li>
			<li>建议开始时间 8:00AM。</li>
			<li>外景交通：均包含在内，取景租金：均包含在内。</li>
			<li>收藏级婚拍写真书1份。*</li>
			<li>原片全送。</li>
			<li>工作地点: 大目的地选一。</li>
			<li>团购特惠: 78元起；通过微信获取最惠价格。</li>
			<li>* 30天递交实体产品。</li>
		</ol>
	</div>


	<div>
		<h2>B. 双日（一对一定制，含妆容造型）</h2>
		<ol>
			<li>拍摄照片不少于600张。</li>
			<li>精修照片60张。</li>
			<li>4套服装</li>
			<li>4组妆发造型；新娘鲜花由<a href="http://www.manlvs.com">花事</a>提供。</li>
			<li>建议开始时间 8:00AM。</li>
			<li>外景交通：均包含在内，取景租金：均包含在内。</li>
			<li>收藏级婚拍写真书2份。*</li>
			<li>原片全送。</li>
			<li>工作地点: 大目的地选二。</li>
			<li>团购特惠: 78元起；通过微信获取最惠价格。</li>
			<li>* 30天递交实体产品。</li>
		</ol>
	</div>

</div>

</div>