{layout="layout/index" title="童孝賢的攝影本（摄影本） - 作品存檔 - 攝影師 - 廣州（广州） &amp; 深圳 &amp; 三亞（三亚） &amp; 海口"}

<img id="anystretch" src="{site_url}assets/images/uploads/nan_du_jiang.jpg"/>

	{exp:channel:entries channel="archives" disable="member_data" limit="1" dynamic=“off”}
	
	{layout:set name="title"}童孝賢的攝影本 - 作品存檔 - {title} - 攝影師 - 廣州 &amp; 深圳 &amp; 三亞 &amp; 海口{/layout:set}

		<main class="archives content">

			<article>
				
				{if archives_text}
					<div class="text">
						{archives_text}					
					</div>
				{/if}

				<div class="info">
          			<time><i>{entry_date format="%M %Y"}</i></time>
          			<p>{archives_tag}</p>
          			<h1>{title}</h1>
          			<p>{categories backspace="3"}{category_name} / {/categories}</p>
		        </div>

				<div class="gallery">

					{archives_gallery}
				        
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
				          
				          {archives_gallery:file}

				              <a href="{url}" itemprop="contentUrl" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">

				          {/archives_gallery:file}

				          {archives_gallery:thumb}

				            <img src="{url}" width="105">

				            <!-- <img src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}"> -->

				          {/archives_gallery:thumb}
				          
							</a>
				        
				        </figure>

					{/archives_gallery}

				</div>
				
			</article>


		</main>

{/exp:channel:entries}