{layout="layout/index" title="童孝賢的攝影本（摄影本） - 作品存檔 - 攝影師 - 廣州（广州） &amp; 深圳 &amp; 三亞（三亚） &amp; 海口"}

<img id="anystretch" src="{site_url}assets/images/uploads/hainan.jpg"/>

<main class="archives">

<div class="container">

    <p class="instruction">點擊名稱查看</p>

    <table>

        <caption>LATEST</caption>

        <thead>
            <tr>
                <th class="year" scope="col">時間</th>
                <th class="name" scope="col">名稱</th>
                <th class="type" scope="col">類別</th>
            </tr>
        </thead>

        <tbody>  

            {exp:channel:entries channel="archives" disable="member_data" entry_id="not 21|22"}
                <tr>      
                    <td>{entry_date format="%Y"}</td>
                    <td><a href="{title_permalink='archives/content'}">{title}</a></td>
                    <td class="type">風景</td>
                </tr>
            {/exp:channel:entries}

        </tbody>

    </table>
    
    <p class="instruction">存檔</p>

    <table>

        <caption>ARCHIVE</caption>

        <thead>
            <tr>
                <th class="year" scope="col">時間</th>
                <th class="name" scope="col">名稱</th>
                <th class="type" scope="col">類別</th>
            </tr>
        </thead>

        <tbody>  

            {exp:channel:entries channel="archives" disable="member_data" entry_id="21|22"}
                <tr>      
                    <td>2009-2011</td>
                    <td><a href="{title_permalink='archives/content'}">{title}</a></td>
                    <td class="type">雜誌</td>
                </tr>
            {/exp:channel:entries}

        </tbody>

    </table>

</div>

</main>
