{layout="layout/index"}

<main>

{exp:channel:entries channel="weddings_main" limit="1" disable="categories|member_data"}

{layout:set name="title"}{site_name}  -  影像{/layout:set}

      <img id="anystretch" src="{weddings_main_background}"/> 
      
      <div class="gallery">

        {weddings_main_relationship}
    
          <article>

            {weddings_main_relationship:weddings_chapter_gallery}
              
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                
                {weddings_main_relationship:weddings_chapter_gallery:weddings_gallery_file}

                    <a href="{url}" itemprop="contentUrl" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">

                {/weddings_main_relationship:weddings_chapter_gallery:weddings_gallery_file}

                {weddings_main_relationship:weddings_chapter_gallery:weddings_gallery_thumb}

                  <img src="{url}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">

                {/weddings_main_relationship:weddings_chapter_gallery:weddings_gallery_thumb}
                
              </a>
              
              </figure>

            {/weddings_main_relationship:weddings_chapter_gallery}

          </article>

        {/weddings_main_relationship}

      </div>

    {paginate}
        <p>
            {if previous_page}
                <a class="prev" href="{auto_path}">上一页</a> &nbsp;
            {/if}
            {if next_page}
                <a class="next" href="{auto_path}">下一页</a>
            {/if}
        </p>
    {/paginate}

{/exp:channel:entries}

</main>