{layout="layout/index" title="童孝贤 - 摄影师 - 影像研究 - 摄影工作室"}

<main class="archive">

<div class="container">

    <p class="instruction">点击名称查看</p>

    <table>

        <caption>LATEST</caption>

        <thead>
            <tr>
                <th class="year" scope="col">时间</th>
                <th class="name" scope="col">名称</th>
                <th class="type" scope="col">类别</th>
            </tr>
        </thead>

        <tbody>  
            <tr>
                <td>2016</td>
                <td><a href="{path="archive/project"}">走，去台湾</a></td>
                <td class="type">微信写真书</td>
            </tr>
            
            <tr>
                <td>2016</td>
                <td><a href="#"> 二年级的暑假</a></td>
                <td class="type">家庭影集</td>
            </tr>           

            <tr>
                <td>2016</td>
                <td><a href="#">江南</a></td>
                <td class="type">明信片</td>
            </tr>

            <tr>
                <td>2016</td>
                <td><a href="#">家书</a></td>
                <td class="type">家庭影集</td>
            </tr>       

            <tr>
                <td>2016</td>
                <td><a href="#">面包屋与书店</a></td>
                <td class="type">微信写真书</td>
            </tr>    

            <tr>
                <td>2016</td>
                <td><a href="{path="work/content"}">六月</a></td>
                <td class="type">家庭影集</td>
            </tr>    

        </tbody>

    </table>
    
    <p class="instruction">存档</p>

    <table>

        <caption>ARCHIVE</caption>

        <thead>
            <tr>
                <th class="year" scope="col">时间</th>
                <th class="name" scope="col">名称</th>
                <th class="type" scope="col">类别</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>2009-2011</td>
                <td class="underline"><span><a href="#">中粮《悦活》杂志</a></span></td>
                <td class="type">出版物</td>
            </tr>

            <tr>
                <td>2008-2009</td>
                <td class="underline"><span><a href="#">WPI Architecture Highlight</a></span></td>
                <td class="type">画册</td>
            </tr>

        </tbody>

    </table>

</div>

</main>
