{layout="layout/index" title="童孝贤的摄影本 - 摄影作品"}

<main class="home">

  {exp:channel:entries channel="home" disable="member_data"}

      <article>      
        
        <div>
          <time>{entry_date format="%Y"}</time>
          <p>{photography_tag}</p>
          <h1>{title}</h1>
          <p>{categories}{category_name}{/categories}</p>
        </div>

        <div>          
            <img src="{site_url}assets/images/uploads/works/10034651203_3f8c3de0b5_o.jpg" alt="">
            <img src="{site_url}assets/images/uploads/works/10034560345_476d89a8f2_o.jpg" alt="">
            <img src="{site_url}assets/images/uploads/works/10034575266_9eb932a6f3_o.jpg" alt="">
            <img src="{site_url}assets/images/uploads/works/10034552275_9fbc843c3a_o.jpg" alt="">
            <img src="{site_url}assets/images/uploads/works/10034639353_36a5f7b6d0_o.jpg" alt="">          
        </div>

      </article>

  {/exp:channel:entries}

  <article>

    <div>
      <time>2016</time>
      <p>小日子 / 8x10 / 数字扫描件</p>
      <h1>君と出会</h1>
      <p>客户委托</p>
    </div>

  </article>

</main>
