{layout="layout/index"}

<img id="anystretch" src="{site_url}assets/images/uploads/blog.jpg"/> 

<main class="locations">

{exp:channel:entries channel="blog" limit="1" disable="member_data"}

{layout:set name="title"}{site_name}  -  博客  -  {title}{/layout:set}

        <img id="anystretch" src="{locations_chapter_background}"/>

        <article>
                 
                <h1>{title}</h1>
                
                {blog_body}

                <time datetime="{entry_date format="%Y"}-{entry_date format="%m"}-{entry_date format="%d"}">{entry_date format="%F %d, %Y"}</time>


        </article>
    
{/exp:channel:entries} 


<article>
	<h1>旅途中的爱与归宿</h1>

	<p>在进入31岁的年龄，我花了一个下午的时间，建了一个自己的博客。和21岁的时候那样，我小心地选择字体、字号、调整行距；同时决定页面上该出现什么，不该出现什么。31岁的我和21岁的我似乎没有太大的差别，仍然孤独地工作，和老妈两人一起生活。</p>
	
	<p>因为我很少照相，我不太知道自己21岁时候的样子，但10年时间我感受到妈妈真的老了。就在我写这篇博客的时候，老妈正在屋子里收看长征题材的电视剧，每每这个时候我喜欢听从屋子里传出来的电视剧的声音，这让我感到安宁。而要是屋子里没动静的时候，我都会进去看一眼，确定妈妈睡着了我才回屋去。父母老了，自然而然地开始担心他们。</p>
	
	<p>前段时间因为工作太累，饮食不专注，第一次出现胃疼。我之前没胃疼过，没想到那么难受。疼的时候站也不是，坐也不是，只能躺着。有了胃痛的教训，我后来吃饭变得非常专心，一定把食物细细嚼烂了再吃下去，脑子里不想别的事。现在每天的吃饭如同是我在做一件很重要的工作，胃也开始好转。毕竟如果自己的身体不好，就没有办法照顾家人。</p>
	
	<p>同龄的朋友多数都已经生养孩子，每次聚餐我都跟他们打听些养育孩子的事情，因为我觉得育儿挺有意思的，我能感受到孩童的那种完满的生命力。我现在觉得不必太过纠结于事业的成功、配偶的完美，只要能一起过日子，一起生养孩子，能把家庭生活顺当地过下去就行。一家老少都没病没灾，就已经是很大的成功。</p>

	<p>当然这一切的基础还是要得有一个良好的收入保障。如今大屈顺利走上了正常的轨道，我也不像原来那样焦虑不安。经过很长时间的积累，大屈渐渐有了初步的样子。虽然在婚照市场仍然没有自己的一席之地，但在非婚照市场已经开始渐渐形成自己的优势和语言。我会记住那段被市场无视、鄙视、轻视再到重视的过程，并且积极克服今后出现的各种困难。</p>
	
	<p>人生不过一碗饭接着另一碗饭，我希望我能活到70、80岁，然后开心地告诉自己，一生之中我至少没有饿过，并且始终有父母孩子朋友陪伴着度过。</p>
	
	<p>－</p>
	<p>2016年11月15日，家中。</p>

</article>
</main>

