{layout="layout/index" title="童孝贤的个人博客 - 工作室及印务所"}

<img id="anystretch" src="{site_url}assets/images/uploads/DSCF4503.jpg"/> 

<main class="locations">

<p>2016年以来创办的两家工作室，已服务百千计的客户人群。</p>


<article>

    <br>

        <!-- <h1>studio</h1> -->

            <ol>
                    <li>
                        <h2><a href="http://www.da-qu.com">大屈</a></h2>
                        <p class="delimiter">-</p>
                        <p>从快门按下的那一刻，回忆就被永远珍藏在相片里了。</p>
                    </li>
                    <li>
                        <h2><a href="http://www.in-pu.com">印舖</a></h2>
                        <p class="delimiter">-</p>
                        <p>精致的相片书与大家分享。</p>
                    </li>
<!--                     <li>
                        <h2><a href="http://www.littlenightblindness.com">小夜盲家</a></h2>
                        <p class="delimiter">-</p>
                        <p>生活方式咖啡馆。</p>
                    </li>             -->        
            </ol>

</article>


</main> 

