{layout="layout/index" title="印舖 - 照片書設計"}

<main class="content">
	

	<!-- <p><a href="{path="photography/index"}#portrait">return to top</a></p> -->

	<!-- <p><a href="{path="photography/index"}"><-</a></p> -->

	
	{exp:channel:entries channel="photography" disable="member_data"}

		<article>

			<div class="gallery">

              {photography_gallery}
                
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" width="{photography_gallery:percent}%" style="margin-left: {photography_gallery:left}px; margin-top: {photography_gallery:top}px; margin-right: {photography_gallery:right}px; margin-bottom: {photography_gallery:bottom}px";>
                  
                  {photography_gallery:file}

                      <a href="{url}" itemprop="contentUrl" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">

                  {/photography_gallery:file}

                  {photography_gallery:file}

                    <img src="{url}">
 
                  {/photography_gallery:file}
                  
                </a>
                
                </figure>

              {/photography_gallery}

        	</div>

		</article>

	{/exp:channel:entries}

</main>
