{layout="layout/index"}

<main>

{exp:channel:entries channel="photography" disable="categories|member_data"}

{layout:set name="title"}童孝賢的攝影本（摄影本） - 攝影作品 - 攝影師 - 廣州（广州） &amp; 深圳 &amp; 三亞（三亚） &amp; 海口 - {title}{/layout:set}

      <img id="anystretch" src="{site_url}assets/images/uploads/nan_gang_ma_tou.jpg"/>

      <article>
        {photography_cover}
        <img src="{url}" alt="">
        {/photography_cover}
      </article>

      {paginate}
          <p>
              {if previous_page}
                  <a class="prev" href="{auto_path}">上一頁</a> &nbsp;
              {/if}
              {if next_page}
                  <a class="next" href="{auto_path}">下一頁</a>
              {/if}
          </p>
      {/paginate}

{/exp:channel:entries}

</main>