{layout="layout/index" title="童孝賢的攝影本 - 攝影作品"}

<main class="photography">

<!--   {exp:channel:entries channel="photography" disable="member_data"}

      <article>      
        
        <div>
          <time>{entry_date format="%Y"}</time>
          <p>{photography_tag}</p>
          <h1>{title}</h1>
          <p>{categories}{category_name}{/categories}</p>
        </div>

        <div>
          
          <a href="{title_permalink='photography/content'}">
          
          {photography_cover}
            <img src="{url}">
          {/photography_cover}
          
          </a>

        </div>

      </article>

  {/exp:channel:entries} -->

  <article>

    <div>
      <time>2017</time>
      <p>記錄 / 35mm / 數字影像</p>
      <h1>Nothing Ordinary 非同凡響</h1>
      <p class="s">客戶委託 / Ritz Carlton 麗思·卡爾頓酒店</p>
    </div>
    
    <br>

    <div>          
        <img src="{site_url}assets/images/uploads/home/DSCF5061.jpg" width="800">
        <img src="{site_url}assets/images/uploads/home/DSF2860.jpg" width="800">
        <!-- <img src="{site_url}assets/images/uploads/home/DSF2676.jpg" width="800"> -->
    </div>

  </article>

  <article>

    <div>
      <time>2017</time>
      <p>人像 / 35mm / 數字影像</p>
      <h1>田野</h1>
      <p class="s">客戶委託 / 田野</p>
    </div>
    
    <br>

    <div>          
        <img src="{site_url}assets/images/uploads/home/_DSF2449-1.jpg" width="800">
        <!-- <img src="{site_url}assets/images/uploads/home/DSF2860.jpg" width="800"> -->
        <!-- <img src="{site_url}assets/images/uploads/home/DSF2676.jpg" width="800"> -->
    </div>

  </article>

</main>
