{layout="layout/index" title="童孝賢的攝影本 - 攝影集 - 攝影師 - 廣州 &amp; 深圳 &amp; 三亞 &amp; 海口"}

<main class="photography">

  {exp:channel:entries channel="photography" disable="member_data"}

      <article>      
        
        <div>
          <time><i>{entry_date format="%M %Y"}</i></time>
          <p>{photography_tag}</p>
          <h1>{title}</h1>
          <p class="s">{photography_type}</p>
        </div>

        <div>
          
          <a href="{title_permalink='photography/content'}">
          
          {photography_cover}
            <img src="{url}">
          {/photography_cover}
          
          </a>

        </div>

      </article>

  {/exp:channel:entries}


</main>
