{layout="layout/index" title="童孝贤的摄影事务所 - 日程安排"}

<main class="schedule">
	
	<p>童孝贤，摄影师，往返于各大城市，从事时尚及艺术摄影。于2016年创办大屈影像。目前接受来自全国主要城市的摄影工作。</p>


	<br>

	<div>
	 	<p>工作安排表</p>
		<ul>
			<li>04月17日 – 04月23日：<i>N/A</i></li>
			<li>04月24日 – 04月30日：<i>N/A</i></li>	
			<li>05月01日 – 05月07日：<a href="{path="schedule/booking"}">点击此处安排</a></li>
			<li>05月8日 – 05月14日：<a href="{path="schedule/booking"}">点击此处安排</a></li>
			<li>05月15日 – 05月21日：<i>N/A</i></li>
		</ul>		
	</div>
	
	<div>
		<p>电话／短信</p>	
		<p><a href="sms:+86 189-0766-4285">+86 189-0766-4285</a></p>
	</div>
	
	<div>
		<p>现居</p>
		<p>海口&amp;三亚</p>
	</div>

	
	<div>
		<p>微信</p>
		<p>tongxiaoxian1839</p>
	</div>	

	<p>点击查看他的微信公众号、INSTAGRAM</p>


</main>
