{layout="layout/index" title="童孝贤的摄影研究所 - 工作联系"}

<main class="schedule">
	
	<div>
	 	<p>工作时间表</p>
		<ul>
			<li>04月17日 – 04月23日：<i>已订出</i></li>
			<li>04月24日 – 04月30日：<i>已订出</i></li>	
			<li>05月01日 – 05月07日：<a href="#">点击预约</a></li>
			<li>05月8日 – 05月14日：<a href="#">点击预约</a></li>
			<li>05月15日 – 05月21日：<i>已订出</i></li>
		</ul>		
	</div>

	<div>
		<p>工作地点</p>
		<p>旅行全国</p>	
	</div>

	<div>
		<p>电邮</p>
		<p>tong@tongxiaoxian.com</p>
	</div>
	
	<div>
		<p>短信</p>
		<p>+86 189-0766-4285</p>
	</div>

</main>
