{layout="layout/index" title="童孝贤 - 摄影师 - 工作联系"}

<main>

    <!-- <p>一如动人的纸张，特质平静、优雅、绵长，坚持质感细腻的表达；丰盈生香的油墨；沉静不苟的匠心将你的独家记忆妥帖安放。高品质的影像服务，就这样一方所在，等你岁岁长相见。</p> -->
   	<!-- <br> -->
   	<!-- <br> -->

 	<h2>工作时间表</h2>
	<ul>
		<li>04月17日 – 04月23日：<i>N/A</i></li>
		<li>04月24日 – 04月30日：<i>N/A</i></li>	
		<li>05月01日 – 05月07日：<a href="#">点击预约</a></li>
		<li>05月8日 – 05月14日：<a href="#">点击预约</a></li>
		<li>05月15日 – 05月21日：<i>N/A</i></li>
	</ul>

   	<br>
   	<br>

    <h2>工作地点</h2>
    <p>旅行全国</p>

	<br>
   	<br>
	
	<h2>电邮</h2>
	<p>tong@tongxiaoxian.com</p>

	<br>
   	<br>

	<h2>短信</h2>
	<p>+86 189-0766-4285</p>

</main>
