{layout="layout/index"}

<img id="anystretch" src="{site_url}assets/images/uploads/locations.jpg"/> 

<main class="locations">

<!-- <p>漫旅影像凭借海南岛得天独厚的天然地理条件为取景基础，提供省内唯一真正意义上的叙事影像及其他定制类影像服务。</p> -->

<article>

    {exp:channel:entries channel="locations_main" disable="member_data"}

    <br>

        <h1>{title}</h1>

            <ul>
                {locations_main_relationship}
                    <li>
                        <h2><a href="{path='locations/chapter/{locations_main_relationship:url_title}'}">{locations_main_relationship:title}</a></h2>
                        <p class="delimiter">-</p>
                        <p>{locations_main_relationship:locations_chapter_abstract}</p>
                    </li>
                {/locations_main_relationship}
            </ul>

    {/exp:channel:entries} 

</article>

<article>

    <br>

        <h1>文集</h1>

            <ol>
                    <li>
                        <h2><a href="{path='locations/chapter/{locations_main_relationship:url_title}'}">蜂鸟</a></h2>
                        <p class="delimiter">-</p>
                        <p>"从生到死，地球上的每一个生命都有约20亿次左右的心跳，跳得慢一点的，像是海龟，可以活两百年。跳得快一点的，像是蜂鸟，只可以活两年。"</p>
                    </li>
                    <li>
                        <h2><a href="{path='locations/chapter/{locations_main_relationship:url_title}'}">寿丘章子的“京都三部曲”</a></h2>
                        <p class="delimiter">-</p>
                        <p>寿丘章子用极其细腻温婉的笔触描绘了千年古都的日常百态及街巷人生。年逾七十，她在写作自己和父母作为京都人的日常家庭生活的时候流露出来的平实真情让人感动不已。</p>
                    </li>
            </ol>

</article>


</main> 

