<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{layout:title}</title>

{exp:minimee:css}
<link rel="stylesheet" type="text/css" href="{site_url}libraries/css/normalize.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="{site_url}libraries/css/site.css"/>
{/exp:minimee:css}

</head>

<body>

{layout:contents}

{exp:minimee:js}
<script type="text/javascript" src="{site_url}libraries/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{site_url}libraries/js/site.js"></script>
{/exp:minimee:js}

</body>

</html>

