{layout="layout/site"}

<img id="anystretch" src="{site_url}assets/images/uploads/about.jpg"/> 

<main class="about">

<p class="slogan">漫旅凭借得天独厚的天然地理条件，提供广东省及海南岛地区的旅行婚拍及其他定制类影像服务。</p>
	
<p>我们的微信：daqustudio（<a class="ajax-popup-link" href="{path='about/wechat'}">通过微信浏览更多作品及住宿服务</a>）</p>


<p>点击查看价格：
	<a class="ajax-popup-link" href="{path='weddings/price'}">旅行婚拍</a>、
	<!-- <a class="ajax-popup-link" href="{path='site/portraits_price'}">写真及家庭照</a>、 -->
	<a class="ajax-popup-link" href="{path='accomodations/price'}">住宿及款待</a>
</p>

<p>工作地点：三亚&海口，旅行全岛</p>

<p>约片电话：<a href="tel:0898-66724685">0898-66724685</a>、约片短信：<a href="sms:+86 189-7698-4285">+86 189-7698-4285</a></p>

<p>友情链接：<a href="http://www.da-qu.com">大屈</a>、<a href="http://www.nan-su.com">小岛南舍</a></p>

<!-- <p>旅行指南：<a href="http://www.nan-duan.com">南端</a>（旅行指南部门）</p> -->


</main>