{layout="site/layout" title="童孝贤的博客"}
	
<main class="works">

	{exp:channel:entries channel="works" sort="asc" status="open|preparing" disable="categories|member_data"}
    
	  	<section>
		    
		    <h1{if status == "Preparing"} class="preparing"{/if} id="{url_title}"><a href="{title_permalink='site_cn/works_chapter'}">{title}</a></h1>

		    	<ol>
		     		{works_relationship}
		        		<li>{works_relationship:title}</li>
		     		{/works_relationship}
		    	</ol>
		
		</section>

	{/exp:channel:entries} 

</main>