{layout="site_cn/layout" title="童孝贤的博客"}

<main class="works_chapter">

{exp:channel:entries channel="works_cn" sort="asc" limit="1" disable="categories|member_data"}

{layout:set name="title"}童孝贤的博客｜{title}{/layout:set}

	<article>
   
    <h1><a href="{path="site_cn/works"}">{title}</a></h1>

	{if works_description_cn}

		{works_description_cn}

	{/if}

	{works_relationship_cn}
		
		<h2>{works_relationship_cn:title}</h2>

			{works_relationship_cn:works_chapter_description_cn}

			<div class="gallery">

			{works_relationship_cn:works_chapter_grid_cn}

				{if works_relationship_cn:works_chapter_grid_cn:works_chapter_grid_display_cn == "Yes"}

					{if works_relationship_cn:works_chapter_grid_cn:works_chapter_grid_descript_cn}

						{works_relationship_cn:works_chapter_grid_cn:works_chapter_grid_descript_cn}

					{/if}
					
					{works_relationship_cn:works_chapter_grid_cn:works_chapter_grid_image_cn}
				
						<img src="{url}" alt="{works_relationship_cn:works_chapter_grid_cn:works_chapter_grid_title_cn}" width="{exp:mx_calc expression="{width}/2"}" height="400">

					{/works_relationship_cn:works_chapter_grid_cn:works_chapter_grid_image_cn}	

				{/if}

			{/works_relationship_cn:works_chapter_grid_cn}

			</div>

	{/works_relationship_cn}

</article>

{/exp:channel:entries} 

</main>